@import "tailwindcss";

:root {
  --background: #f8fafc; /* Warna terang (slate-50) */
  --foreground: #1e293b; /* Warna teks terang (slate-800) */
}

/* Saat pengaturan mengirim class .dark, warna ini otomatis mengambil alih */
.dark {
  --background: #0f172a; /* Warna gelap gulita (slate-900) */
  --foreground: #f8fafc; /* Warna teks menjadi putih (slate-50) */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}